{% extends "observe/layout.html" %}

{% block body %}
<h3>The following are the list of items in your Inventory listing. Please complete the inventory count by clicking on each item and filling out the subsequent form.</h3>
<hr>
    {% for row in df %}
        <a href=>
            <div>
                <h5>SKU: {{row.0}}</h5> 
                <h5>Product Code: {{row.1}}</h5>
                <h5>{{row.2}}</h5>
                <h5>{{row.3}}</h5>
                <h5>{{row.4}}</h5>
                <h5>{{row.5}}</h5>
            <hr>
            </div>
        </a>    
    {% endfor %}
{% endblock %}