{% extends "observe/layout.html" %}

{% block body %}
<p></p>
<form method = 'POST' action = "{% url 'SKU' inventory_list_id SKU %}" enctype="multipart/form-data"> 

    {% csrf_token %}
    
    <!-- <p>Hidden fields</p>
    {% for hidden in SKUform.hidden_fields %}
        {{ hidden }}
    {% endfor %} -->

    <p>Normal che</p>
    {% for field in SKUform %}
        {{ field.label_tag }} {{ field }} {{field.errors}} <br>
        <p></p>
    {% endfor %}

    {{ Imageform.management_form }}
    {% for form in Imageform %}
        {{ form.as_p }}
    {% endfor %}

    <input class="btn btn-primary" type="submit" value="Submit Count Results">
</form>
{% endblock %}